* {
    /* border: 1px solid red; */
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}


/* html,
body {
    height: 100vh;
} */

.app {
    /* padding: 2em auto; */
    /* max-width: 50em; */
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

.header {
    background-color: #0984e3;
    padding: 0.5em;
    color: white;
    display: flex;
    height: 70px;
    position: sticky;
    top: 0;
}

@media only screen and (max-height: 700px) {
    .header {
        height: 50px;
    }
}


/* .not-header {
    min-height: 95vh;
} */

.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
    margin: auto 0 auto auto;
}

.dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.loginPage {
    display: grid;
    padding: 0.5%;
    min-height: 100%;
    max-width: 100%;
}

.loginSide {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #0984e3;
    border-radius: 1em 1em;
    color: white;
    padding: 2%;
}

.sideText {
    width: 40%;
    margin-top: 5em;
}

.loginForm {
    grid-column-start: 2;
    grid-column-end: 6;
    /* padding: 2%; */
    padding: 10% 30% 10% 30%;
    justify-content: left;
    text-align: left;
    /* max-width: 70%; */
    /* min-height: 100vh; */
    /* background-color: blanchedalmond; */
    /* border-radius: 0 2em 2em 0; */
}

.footer {
    /* margin-top: 10%; */
    position: absolute;
    margin-bottom: 1em;
    bottom: 0;
}

.title {
    width: 33%;
}

.search {
    width: 33%;
}

.searchForm {
    height: 100%;
}

.X {
    font-size: 250%;
    margin: auto;
}

.logout {
    width: 33%;
}

.logout .button {
    float: right;
}

.error {
    color: red;
}

.form-action {
    margin-top: 20%;
    width: max-content;
}

.message-container-container {
    height: 90vh;
    width: calc(100% * 0.75);
    display: flex;
    flex-direction: column;
}

.message-name {
    margin: 0.25em;
}

.message-container {
    margin: 0.25em;
    height: 100%;
    background-color: gray;
    padding: 0.25em 0.5em;
    overflow-y: auto;
    border: 1px solid #0984e3;
}


/* .delete-button {
    position: relative;
} */

.entry {
    display: flex;
    height: 5%;
    padding: 0.25%;
}

.entry-form {
    width: 90%;
}

.entry .button {
    border-radius: 100%;
    margin: auto;
    background-color: #0984e3;
}

.entry .button:hover {
    background-color: white;
    color: #0984e3;
}

.home {
    display: flex;
    width: auto;
    height: auto;
}


/* .chatshead {
    justify-content: space-between;
} */


/* .chathead>h6 {
    color: gray;
} */

.chats {
    font-size: 0.8em;
    width: calc(100% * 0.25);
    /* height: 100%; */
    padding: 1em;
    background-color: lightgrey;
}

.chat-tile {
    min-width: 100%;
    border: 0;
    margin: auto 5% auto auto;
    background-color: white;
    padding: 5px;
    position: absolute;
    height: min-content;
    border-radius: 5em;
    color: #0984e3;
}

.chat-tile>h6 {
    display: inline;
    margin-right: 0.2em;
    ;
}

.unread {
    padding: 0.2em;
    color: white;
    background-color: green;
    border-radius: 45%;
    display: inline;
}

.buttons {
    overflow-y: auto;
    height: auto;
    max-height: auto;
    padding-top: 0.5em;
}

a {
    text-decoration: none;
    color: #0984e3;
}

.buttonContainer {
    /* margin: 1em 0 1em; */
    margin: 0 auto 1em;
    position: relative;
    border-radius: 5em;
    display: flex;
}

.chat-tile:hover {
    background-color: #0984e3;
    display: block;
    color: white;
    width: fit-content;
}

.my-messages {
    background-color: white;
    color: black;
    padding: 1em 0.25em 1em;
    margin: 0.5em 0.25em 0.5em auto;
    border-radius: 30px 30px 0 30px;
    width: 70%;
    /* position: relative; */
}

.other-messages {
    background-color: #0984e3;
    color: white;
    padding: 1em 0.25em 0.25em;
    margin: 0.5em auto 0.5em 0;
    border-radius: 30px 30px 30px 0;
    width: 70%;
}

.message-time {
    font-size: x-small;
    position: relative;
    margin-bottom: 0;
    margin-top: 15px;
}

.message-bottom {
    display: flex;
    width: 100%;
    padding: auto;
    justify-content: space-between;
}

.info {
    display: flex;
    width: 100%;
}

.infoPage {
    padding: 5%;
    width: 100%;
}

.infoPage h2 {
    padding: 50px;
}

.info-1 {
    width: 50%;
    padding: 50px;
}

.info-2 {
    width: 50%;
    padding: 50px;
}

.info-2>div {
    max-width: 10%;
}

.chat-tile {
    border-width: 2px;
    color: black;
    display: inline;
}

.people {
    padding: 2%;
}

.mine:hover {
    /* background-image: url('../public/add.jpg'); */
    border: 5px solid grey;
}

.profile-img {
    border-radius: 100%;
    width: 20%;
    aspect-ratio: initial;
    margin: 0 50px;
}

.p-p-div {
    display: flex;
    flex-direction: column;
}